# SPDX-License-Identifier: Apache-2.0

# Fabric Docs i18n Maintainers
*       @hyperledger/fabric-core-maintainers
/ja_JP/ @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ja_JP-doc-maintainers
/ml_IN/ @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-ml_IN-doc-maintainers
/pt_BR/ @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-pt_BR-doc-maintainers
/zh_CN/ @hyperledger/fabric-core-doc-maintainers @hyperledger/fabric-zh_CN-doc-maintainers
